
<div class="background-container">
    <div class="header">
        <img class="logo" src="../../assets/logo.png" alt="Logo">
        <span class="project-name">CyberGuard</span>
    </div>
    <img class="pic" src='../../assets/password-recovery.png' alt="password">
    <div class="body">
        <img class="back" src='../../assets/back.png' alt="back" (click)="goBack()">
        <div class="title-text">Password Recovery</div>
        <div class="explanation-text">Enter your email to recover your password...</div>
        <div class="email-info">
            <img class="email-icon" src="../../assets/email.png" alt="email icon">
            <input class="email-input" type="email" id="email" name="email" placeholder="name@example.com" required [(ngModel)]="email">
          </div>
          <div class="recover-btn" (click)="password_recovery()">Recover Password</div>
    </div>
    <app-footer></app-footer>
</div>
