<div class="container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/vue-analyst.png' alt="vue">
    <div class="s1">
        <h1>Welcome to CyberGuard, your dedicated tool for precise cyber threat detection.
            Stay informed, stay safe!</h1>
    </div>
    <div class="s2">
        <div id="ddos" class="box">
            <img src="../assets/vueddos.png" alt="Image 1">
            <h1>Distributed DOS</h1>
            <p>Detect and analyze DDoS attempts in real-time.</p>
        </div>
        <div id="phish" class="box">
            <img src="../assets/vuephish.png" alt="Image 2">
            <h1>URL Phishing</h1>
            <p>Identify phishing attempts targeting your systems.</p>
        </div>
        <div id="brute" class="box1">
            <img src="../assets/vuebrute.png" alt="Image 3">
            <h1>Brute Force</h1>
            <p>Identify and mitigate brute force attacks against your network security.</p>
        </div>
        <div id="sql" class="box">
            <img src="../assets/vuesql.png" alt="Image 4">
            <h1>SQL Injection</h1>
            <p>Detect SQL injection attempts to safeguard your database integrity.</p>
        </div>
        <div id="malware" class="box">
            <img src="../assets/vuemalware.png" alt="Image 5">
            <h1>Malware Infection</h1>
            <p>Analyze suspicious files and links for malware.</p>
        </div>
    </div>
    <app-footer2></app-footer2>
</div>
