<div class="sql-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/detection.png' alt="detection">
    <img routerLink="/vue-analyst" class="back" src='../../assets/back.png' alt="back" >
    <div class="body">
        <h1>SQL Injection Attack Detection - Shield Your Data</h1>
        <div class="content">
            <div class="info1">
                <div class="content1">
                    <p>SQL Injection attacks are a type of security exploit where attackers inject malicious SQL code into input fields of a web application, tricking the application into executing unintended commands. These attacks can lead to unauthorized access to sensitive data, data manipulation, and even data loss.</p>
                </div>
            </div>
            <h2>CyberGuard's Detection Approach:</h2>
            <div class="info2">
                <div class="content2">
                    <p>CyberGuard employs sophisticated machine learning models, including Random Forest, to analyze network traffic and identify indicators of SQL injection attacks. By leveraging these powerful algorithms, our system can accurately detect SQL injection threats, ensuring your data remains secure.</p>
                </div>
            </div>
            <h3>SQL Injection Analysis : </h3>
            <div class="info3">
                <p>For entering specific login attempt data that you suspect may be part of a SQL Injection attack :</p>
                <textarea id="data" name="data" placeholder="Enter your data" #fileInput></textarea>
                <input type="file" #hiddenFileInput (change)="onFileSelected(hiddenFileInput.files)" style="display: none;">
                <button class="import-button" (click)="hiddenFileInput.click()">Upload files containing SQL queries (e.g., log files) for comprehensive analysis. Our system processes these files to identify anomalies that indicate a SQL injection attack.</button>
                <span *ngIf="uploadedFileName">{{ uploadedFileName }}</span>
                <button class="analyze-button" (click)="analyzeFile()">Analyze</button>
            </div>   
    </div>
    <app-footer2></app-footer2>
</div>

