<div class="brute-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/detection.png' alt="detection">
    <img routerLink="/vue-analyst" class="back" src='../../assets/back.png' alt="back" >
    <div class="body">
        <h1>Brute Force Attack Detection - Strengthen Your Defenses</h1>
        <div class="content">
            <div class="info1">
                <div class="content1">
                    <p>Brute force attacks involve cybercriminals attempting to gain unauthorized access to systems by systematically trying all possible combinations of usernames and passwords. These attacks can lead to data breaches, unauthorized access, and compromised systems.</p>
                </div>
            </div>
            <h2>CyberGuard's Detection Approach:</h2>
            <div class="info2">
                <div class="content2">
                    <p>CyberGuard employs sophisticated machine learning models, including Random Forest, to analyze login attempts and network traffic for signs of brute force attacks. By leveraging these powerful algorithms, our system can accurately detect brute force threats, ensuring your systems remain secure.</p>
                </div>
            </div>
            <h3>Brute Force Analysis : </h3>
            <div class="info3">
                <p>For entering specific login attempt data or suspicious IP addresses that you suspect may be part of a brute force attack :</p>
                <textarea id="data" name="data" placeholder="Enter your data" #fileInput></textarea>
                <input type="file" #hiddenFileInput (change)="onFileSelected(hiddenFileInput.files)" style="display: none;">
                <button class="import-button" (click)="hiddenFileInput.click()">Upload log files or data containing login attempts for comprehensive analysis. Our system processes these files to identify patterns indicative of a brute force attack.</button>
                <span *ngIf="uploadedFileName">{{ uploadedFileName }}</span>
                <button class="analyze-button" (click)="analyzeFile()">Analyze</button>
            </div>      
    </div>
    <app-footer2></app-footer2>
</div>

