<div class="alertback1-container">
    <app-header2></app-header2>
    <div class="alertback2-container">
        <img src='../../assets/alertback2.png' alt="alert">
        <div class="alertpic">
            <img src='../../assets/alertpic.png' alt="don't panic">
        </div>
        <div class="title-text">Brute Force Attack Detected!</div>
        <div class="explanation-text">A potential Brute Force attack has been identified. Immediate attention is required.</div>
        <div class="buttons-container">
            <button routerLink="/details-brute" class="button">View Details</button>
            <button class="button"><a href="https://www.fortinet.com/resources/cyberglossary/brute-force-attack#:~:text=A%20brute%20force%20attack%20is,and%20organizations'%20systems%20and%20networks." target="_blank">Search Attack</a></button>
            <button routerLink="/bruteforce" class="button">Ignore Alert</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>

