<div class="ddos-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/detection.png' alt="detection">
    <img routerLink="/vue-analyst" class="back" src='../../assets/back.png' alt="back" >
    <div class="body">
        <h1>DDOS Detection - Stay away of Disruptions</h1>
        <div class="content">
            <div class="info1">
                <div class="content1">
                    <p>DDoS (Distributed Denial of Service) attacks aim to overwhelm your network resources, causing service disruptions that can lead to significant downtime and loss. By flooding your systems with excessive traffic, attackers seek to exhaust bandwidth, servers, and applications, making services inaccessible to legitimate users.</p>
                </div>
            </div>
            <h2>CyberGuard's Detection Approach:</h2>
            <div class="info2">
                <div class="content2">
                    <p>CyberGuard utilizes advanced Random Forest algorithms to analyze network traffic patterns and identify potential DDoS threats. By leveraging diverse decision trees, our system can accurately detect even the most sophisticated DDoS attacks, ensuring your services remain uninterrupted.</p>
                </div>
            </div>
            <h3>DDOS Analysis : </h3>
            <div class="info3">
                <p>For entering specific network traffic data or IP addresses that you suspect may be part of a DDoS attack:</p>
                <textarea id="data" name="data" placeholder="Enter your data" #fileInput></textarea>
                <input type="file" #hiddenFileInput (change)="onFileSelected(hiddenFileInput.files)" style="display: none;">
                <button class="import-button" (click)="hiddenFileInput.click()">Import file ? Our system processes these files to identify anomalies that indicate a DDoS attack.</button>
                <span *ngIf="uploadedFileName">{{ uploadedFileName }}</span>
                <button id="analyzeButton" class="analyze-button" (click)="analyzetext()">Analyze</button>
            </div>            
        </div>
    </div>
    <app-footer2></app-footer2>
</div>
