<div class="alertback1-container">
    <app-header2></app-header2>
    <div class="alertback2-container">
        <img src='../../assets/alertback2.png' alt="alert">
        <div class="alertpic">
            <img src='../../assets/alertpic.png' alt="don't panic">
        </div>
        <div class="title-text">Phishing Attack Detected!</div>
        <div class="explanation-text">A potential phishing attack has been identified. Immediate attention is required.</div>
        <div class="buttons-container">
            <button routerLink="/details-phishing" class="button">View Details</button>
            <button class="button"><a href="https://www.cloudflare.com/learning/access-management/phishing-attack/#:~:text=%E2%80%9CPhishing%E2%80%9D%20refers%20to%20an%20attempt,or%20sell%20the%20stolen%20information." target="_blank">Search Attack</a></button>
            <button routerLink="/phishing" class="button">Ignore Alert</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>

