<div class="team-container">
    <div class="header">
        <app-header1></app-header1>
    </div>
    <img class="pic" src='../../assets/team.png' alt="team">
    <div class="s1">
        <h1>Our Team</h1>
        <p>Meet our team members</p>
    </div>
    <div class="team-members">
        <div class="member">
            <img src="../assets/moetaz.jpg" alt="Moetaz">
            <h2>Mohamed Moetaz Jebari</h2>
            <div class="social-icons">
            <a href="https://www.facebook.com/moetez.jebarii?locale=fr_FR" target="_blank" rel="noreferrer"><img src="../assets/fbt.png" alt="fbt"></a>
            <a href="https://www.instagram.com/moetezjaberi/" rel="noreferrer"><img src="../assets/instat.png" alt="instat"></a>
            <a href="#" rel="noreferrer"><img src="../assets/linkedint.png" alt="linkedint"></a>
            </div>
        </div>
        <div class="member">
            <img src="../assets/hasna.png" alt="hasna">
            <h2>Khantouche Hasna</h2>
            <div class="social-icons">
            <a href="https://www.facebook.com/asuna.kanatouchy?locale=fr_FR" target="_blank" rel="noreferrer"><img src="../assets/fbt.png" alt="fbt"></a>
            <a href="https://www.instagram.com/hasna_khantouche/" rel="noreferrer"><img src="../assets/instat.png" alt="instat"></a>
            <a href="https://www.linkedin.com/in/hasna-khantouch-171490279/" rel="noreferrer"><img src="../assets/linkedint.png" alt="linkedint"></a>
        </div>
        </div>
        <div class="member">
            <img src="../assets/salma.png" alt="fbt">
            <h2>Makina Salma</h2>
            <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100055834089001&locale=fr_FR" target="_blank" rel="noreferrer"><img src="../assets/fbt.png" alt="fbt"></a>
            <a href="https://www.instagram.com/salma.makina_/" rel="noreferrer"><img src="../assets/instat.png" alt="instat"></a>
            <a href="https://www.linkedin.com/in/salma-makina/" rel="noreferrer"><img src="../assets/linkedint.png" alt="linkedint"></a>
        </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

