<div class="background">
    <app-header1></app-header1>
    <div class="contact-container">
        <form>
        <div class="chat-window">
            <h1>Let's Talk</h1>
            <p>Ask us anything or just say Hi ...</p>
            <div class="user-info">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" [(ngModel)]="name">
            </div>
            <div class="user-info">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email">
            </div>
        </div>
        <div class="message-area">
            <label for="message">Message:</label>
            <textarea id="message" name="message" placeholder="Type your message here" [(ngModel)]="message"></textarea>
            <button type="submit" (click)="submitForm()">Send</button>
        </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>

