<div class="brute-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/detection.png' alt="detection">
    <img routerLink="/vue-analyst" class="back" src='../../assets/back.png' alt="back" >
    <div class="body">
        <h1>Phishing Attack Detection - Stay Vigilant,  Stay Secure</h1>
        <div class="content">
            <div class="info1">
                <div class="content1">
                    <p>Phishing attacks are a form of social engineering where attackers impersonate legitimate entities to deceive individuals into providing sensitive information such as passwords, credit card numbers, or other personal data. These attacks can lead to identity theft, financial loss, and unauthorized access to sensitive information.</p>
                </div>
            </div>
            <h2>CyberGuard's Detection Approach:</h2>
            <div class="info2">
                <div class="content2">
                    <p>CyberGuard employs sophisticated machine learning models, including Random Forest, to analyze network traffic and identify indicators of phishing attacks. By leveraging these powerful algorithms, our system can accurately detect phishing threats, ensuring your data and privacy remain protected.</p>
                </div>
            </div>
            <h3>Phishing Analysis : </h3>
            <div class="info3">
                <p>Enter suspicious URLs or email content that you suspect may be part of a phishing attack :</p>
                <textarea id="data" name="data" placeholder="Enter your data" #fileInput></textarea>
                <input type="file" #hiddenFileInput (change)="onFileSelected(hiddenFileInput.files)" style="display: none;">
                <button class="import-button" (click)="hiddenFileInput.click()">Upload URLs or phishing examples for comprehensive analysis. Our system processes these files to identify phishing patterns and behaviors.</button>
                <span *ngIf="uploadedFileName">{{ uploadedFileName }}</span>
                <button class="analyze-button" (click)="analyzeFile()">Analyze</button>
            </div>   
    </div>
    <app-footer2></app-footer2>
</div>

