<div class="feedback-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/feedback.png' alt="detection">
    <div class="s1">
    <img id="precedentIcon" class="back" src='../../assets/back.png' alt="back" (click)="goBack()">>
    </div>
    <h1>We appreciate your feedback !</h1>
    <p>We are always looking for ways to improve your experience. Please take a moment to tell us what you think.</p>
    <textarea id="message" name="message" placeholder="Enter your feedback ..." [(ngModel)]="feedbackMessage"></textarea>
    <div class="s2">
        <button type="button" (click)="submitFeedback()" [disabled]="!feedbackMessage.trim()">Submit my Feedback</button>

    </div>
    <app-footer></app-footer>
</div>
