.pic{
    width: 2271px;
    height: 98vh;
    position:absolute;
    z-index: -1;
}
.header {
    position: absolute; 
    justify-content: space-between;
    z-index: 2; /* Ensures it's above the background */
  }
  .back{
    position:absolute ;
    z-index: 1; /* Ensure text is above the background image */
    top: 160px; /* Position the text at the top of the container */
    left: 12%; /* Center the text horizontally */
    width: 90px;
    height: 90px;
}
.feedback-container h1{
    position: absolute;
    color: rgb(255, 171, 15);
    top: 140px;
    left: 33%;
    font-size: 60px;
}
.feedback-container p{
    position: absolute;
    color: aliceblue;
    top: 300px;
    left: 31%;
    font-size: 30px;
    width: 900px;
    text-align: center;
}

.feedback-container textarea {
    position: absolute;
    width: 700px; 
    height: 200px;
    font-size: 25px; /* Set font size for input text */
    top: 470px;
    left: 35%;
    background-color: transparent;
    border-color: #FF9F2E;
    border-width:3px;
    border-radius: 15px;
    color: bisque;
    
}

.s2 button {
    position: absolute;
    border-width:5px;
    border-radius: 15px;
    border-color: #FF9533;
    color: bisque;
    height: 80px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    background-color:transparent; /* Background color of the button */
    top: 800px;
    left: 43%;
}

.s2 button:hover {
    background-color: #4a3416; /* Darkens button on hover */
}