<div class="details-container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/details.png' alt="details">
    <button routerLink="/alert-brute"><img class="back" src='../../assets/back.png' alt="back"></button>
    <div class="body">
        <h1>Alert Details - Brute Force Attack Detected</h1>
        <div class="content">
            <div class="info1">
                <h2>Attack Details</h2>
            </div>
            <div class="vertical-line"></div>
            <div class="info2">
                <h3>Model Insights</h3>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="investigate-btn"><a href="https://owasp.org/www-community/controls/Blocking_Brute_Force_Attacks" target="_blank">Countermeasures</a></div>
        <div class="feedback-btn"><button routerLink="/feedback">Give Feedback </button></div>
    </div>
    <app-footer></app-footer>
</div>
