<div class="background">
    <app-header1></app-header1>
    <div class="about-container">
        <div class="box-image">
            <img src="../assets/hackers.png" alt="Image 1">
            <div class="box-text1">
                <h1>Brute Force</h1>
                <div class="text-content">
                    <p>Identify and mitigate brute force attacks against your network security</p>
                </div>
                <button id="readmorebutton" class="readmore-button">Read More</button>
            </div>
        </div>
        <div class="box-image">
            <img src="../assets/ddos.png" alt="Image 1">
            <div class="box-text2">
                <h1>DDOS</h1>
                <div class="text-content">
                <p>Detect and analyze DDos attempts in real-time</p>
            </div>
            <button id="readmorebutton" class="readmore-button">Read More</button>
        </div>
        <div class="box-image">
            <img src="../assets/phishing.png" alt="Image 1">
            <div class="box-text3">
                <h1>Phishing</h1>
                <div class="text-content">
                    <p>Identify phishing attempts targeting your systems</p>
                </div>
                <button id="readmorebutton" class="readmore-button">Read More</button>
            </div>
            
        </div>
        <div class="box-image">
            <img src="../assets/malware.png" alt="Image 1">
            <div class="box-text4">
                <h1>Malware Infection</h1>
                <div class="text-content">
                    <p>Analyze suspicious and links for malware</p>
                </div>
                <button id="readmorebutton" class="readmore-button">Read More</button>
            </div>
            
        </div>
        <div class="box-image">
            <img src="../assets/sql.png" alt="Image 1">
            <div class="box-text5">
                <h1>SQL Injection</h1>
                <div class="text-content">
                    <p>Detect SQL injection attempts to safeguard your database integrity</p>
                </div>
                <button id="readmorebutton" class="readmore-button">Read More</button>
            </div>
            
        </div>
    </div>
    <app-footer2></app-footer2>
</div>
    
                
            
            
           
    

