<footer>
    <div class="footer-top">
        <div class="footer-section1">
            <h2>Cyber Guard</h2>
            <img src="../assets/logo.png" alt="Cyber Guard Logo">
        </div>
        <div class="footer-section2">
            <h2>Useful Links</h2>
            <div class="dbach">
            <ul>
                <li><img src="../assets/this.png" alt="this"><a href="home" rel="noreferrer">HOME</a></li>
                <li><img src="../assets/this.png" alt="this"><a href="team" rel="noreferrer">TEAM</a></li>
                <li><img src="../assets/this.png" alt="this"><a href="about" rel="noreferrer">ABOUT</a></li>
                <li><img src="../assets/this.png" alt="this"><a href="login" rel="noreferrer">LOGIN</a></li>
                <li><img src="../assets/this.png" alt="this"><a href="contact" rel="noreferrer">CONTACT</a></li>
            </ul></div>
        </div>
        <div class="footer-section3">
            <h2>Get in Touch</h2>
            <div class="common-logo-size">
            <ul>
                <li><img src="../assets/phone.png" alt="Phone"><p>(+216) 21 456 789</p></li>
                <li><img src="../assets/emailf.png" alt="Email"><p><a href="mailto:info@example.com" target="_blank" rel="noreferrer">cyberguard62&#64;gmail.com</a></p></li>
                <li><img src="../assets/adress.png" alt="Address"><p>ENSI, Mannouba, Tunis</p></li>
            </ul></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
        <a href="#" rel="noreferrer"><img src="../assets/fbf.png" alt="Facebook"></a>
        <a href="#" rel="noreferrer"><img src="../assets/instaf.png" alt="Instagram"></a>
        <a href="#" rel="noreferrer"><img src="../assets/linkedinf.png" alt="LinkedIn"></a>
        </div>
        <div class="copyrights">
            <img src="../assets/copyright.png" alt="Facebook">  
            <p>Copy rights 2024, All rights reserved</p> 
        </div>
    </div>
</footer>
