<div class="alertback1-container">
    <app-header2></app-header2>
    <div class="alertback2-container">
        <img src='../../assets/alertback2.png' alt="alert">
        <div class="alertpic">
            <img src='../../assets/alertpic.png' alt="don't panic">
        </div>
        <div class="title-text">DDOS Attack Detected!</div>
        <div class="explanation-text">A potential DDOS attack has been identified. Immediate attention is required.</div>
        <div class="buttons-container">
            <button routerLink="/details-ddos" class="button">View Details</button>
            <div class="button"><a href="https://www.akamai.com/fr/glossary/what-is-ddos#:~:text=Dans%20le%20cadre%20d'une,r%C3%A9seau%20avec%20du%20trafic%20malveillant." target="_blank">Search Attack</a></div>
            <button routerLink="/ddos" class="button">Ignore Alert</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>

