
.pic{
  width: 2285px;
  height: 1030px;
}
.header {
  position: absolute; /* This makes child elements with absolute positioning relative to this container */
  z-index: 2; /* Ensures it's above the background */
}


.cyberguard-promise {
  position: absolute;
    font-size: 70px;
    font-weight: bold;
    color: #95FFFF; /* Adjust color as needed */
    text-align: center;
    top: 200px;
    left: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.get-started-button {
  position: absolute;
    background-color: transparent;
    border: 5px solid #8feaff; /* Colored border */
    color: #f9feff; /* Text color */
    font-size: 50px;
    padding: 10px 20px; /* Padding inside the button */
    cursor: pointer; /* Show pointer cursor on hover */
    top: 800px;
    left: 500px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .get-started-button:hover {
    background-color: rgba(55, 148, 168, 0.8); /* Darker background color on hover */
  }
  
 