<div class="container">
    <div class="header">
        <app-header2></app-header2>
    </div>
    <img class="pic" src='../../assets/vue-admin.png' alt="vue">
    <div class="s1">
        <h1>Admin Dashboard</h1>
        <h2>Welcome Back !</h2>
        <h3>System Overview</h3>
        <div class="part1">
            <h5>Number of Alerts: 10 new alerts</h5>
            <h5>Current Models: 5</h5>
            <h5>System Health: Good</h5>
        </div>
        <div class="vertical-line"></div>
        <div class="part2">
            <h6>Last Backup: March 20, 2024</h6>
            <h6>Active Users: 5 analysts, 1 admin</h6>
            <h6>System Logs: Last log entry on March 23, 2024</h6>
        </div> 
    </div>
    <div class="s2">
        <div id="manage" class="manage">
            <img src="../assets/manage.png" alt="Image 1">
            <h1>Manage Users</h1> 
        </div>
        <div id="backup" class="backup">
            <img src="../assets/backup.png" alt="Image 2">
            <h1>Backup and Restore</h1> 
        </div>
        <div id="configure" class="configure">
            <img src="../assets/configure.png" alt="Image 3">
            <h1>Configure Settings</h1>  
        </div>
        <div id="update" class="update">
            <img src="../assets/update.png" alt="Image 4">
            <h1>Update Models</h1>  
        </div>
        <div id="security" class="security">
            <img src="../assets/security.png" alt="Image 5">
            <h1>Security Policies</h1>
        </div>
    </div>
    <app-footer></app-footer>
</div>
